# Основные зависимости
fastapi
uvicorn
pydantic
pydantic-settings

# База данных
beanie
motor
pymongo

# Парсинг файлов
python-magic
python-magic-bin
python-docx
odfpy

# ML / Суммаризация
transformers
torch
sentencepiece
accelerate

# Дополнительно
aiofiles
